# Ignore all CSV data files
*.csv

# Python cache and environment files
__pycache__/
*.pyc
*.pyo
*.pyd
.env
.venv
ENV/
venv/

# Jupyter Notebook checkpoints
.ipynb_checkpoints/

# macOS system files
.DS_Store 